body {
    background: linear-gradient(to bottom, #FFDAA8, WHITE);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* свойства для контейнера аккордион */
.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
}

/* свойства для изображения внутри элемента */
.accordion-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height:300px;
}

/* свойства заголовка элемента */
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

/* свойства для заголовка при наведении мыши */
.accordion-header:hover {
    background-color: lightgreen;
}

/* скрытие элемента input с типом checkbox */
.accordion-item input[type="checkbox"] {
    display: none;
}

/* устанавливаем цвет фона заголовка если выбран checked */
.accordion-item input[type="checkbox"]:checked + .accordion-header {
    background-color: #FDD519;
}

/* меняем иконку */
.accordion-item input[type="checkbox"]:checked + .accordion-header .accordion-icon::before {
    content: "-";
}
.accordion-item .accordion-icon::before {
    content: "+";
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.accordion-item .accordion-icon {
    width: 24px;
    height: 24px;
    background-image: url('icons/plus-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* контент */
.accordion-content {
    display: none;
    padding: 10px;
}
/* отображение контента если элемент выбран */
.accordion-item input[type="checkbox"]:checked + .accordion-header + .accordion-content {
    display: block;
}
