body {
    /* устанавливаем фон градиентом */
    background: linear-gradient(to bottom, #FFDAA8, WHITE);
    /* запрещаем повторение фона */
    background-repeat: no-repeat;
    /* зафиксируем фон на экране */
    background-attachment: fixed;
}

/* свойства для контейнера аккордион */
.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
}

.accordion-item {
    background-color: white;
}

.accordion-header {
    cursor: pointer;
}

.accordion-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.accordion-item:hover img {
    /* свойство, которое задает эффект оттенков */
    filter: grayscale(100%);
    /* плавное изменение св-ва filter */
    transition: filter 0.3s ease-in-out;
}

.accordion-item:hover img:hover {
    /* отмена эффекта оттенка серого для изображения при наведении на само изображение. */
    filter: grayscale(0%);
}

.accordion-icon {
    width: 24px;
    height: 24px;
    background-image: url('../icons/plus-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.accordion-icon.active {
    background-image: url('../icons/minus-solid.svg');
}

/* свойства для изображения внутри элемента */
.accordion-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px;

    /* Анимация плавного увеличения картинки */
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    /* Начальное состояние картинки */
    transform: scale(0);

    /* Конечное состояние картинки */
    animation-fill-mode: forwards;
}

/* Определение анимации */
@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* свойства заголовка элемента */
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

/* свойства для заголовка при наведении мыши */
.accordion-header:hover {
    background-color: #F75206;
}

/* скрытие элемента input с типом checkbox */
.accordion-item input[type="checkbox"] {
    display: none;
}

/* меняем иконку "+" на "-" */
.accordion-item input[type="checkbox"]:checked + .accordion-header .accordion-icon {
    background-image: url('../icons/minus-solid.svg');
}

/* цвет заголовка выбранного item */
.accordion-item input[type="checkbox"]:checked + .accordion-header {
    background-color: #FDD519;
}

/* контент */
.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-item .accordion-content {
    display: none;
}

/* отображение контента если элемент выбран */
.accordion-item input[type="checkbox"]:checked + .accordion-header + .accordion-content {
    display: block;
}
